.navbar {
  background-color: #133D56;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.navbar-brand, .nav-link, .navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active, .nav-link:hover, .nav-link:focus, .nav-link:active {
  color: #EFF1F0;
  font-size: 1.75rem;
}

.nav-link, .nav-link:hover, .nav-link:focus, .nav-link:active {
  font-size: 1rem;
}

.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active, .nav-link:hover, .nav-link:focus, .nav-link:active {
  color: white
}

.btn:hover, .btn:focus, .btn:active {
  border: 2px solid #58AAA3;
  border-radius: 25px;
  background: #EFF1F0;
  color: #58AAA3;
}

.index-card-heading, .card-heading, .blue-card-heading, .modal-header {
    font-family: 'Montserrat', sans-serif;
    font-color: #133D56;
    font-weight: bold;
    color: #133D56;
}

.blue-card {
  background-color: #133D56;
}

.hint-card {
  margin-bottom: 25px;
}

.blue-card-heading {
  color: #EFF1F0;
}


.index-card-heading {
    font-size: 400%;
}

.card-sub-heading, .blue-card-sub-heading {
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-size: 75%;
    font-weight: normal;
    color: #58AAA3;
    text-transform: normal;
}

.index-card-text, .card-text, .modal-body {
  color: #133D56;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}

.blue-card-text {
  color: #EFF1F0;
}

.index-card-text {
    font-size: 250%;
}

.modal-body {
  background-color: #EFF1F0;
}

.blue-card-body {
  background-color: #133D56;
}

.index-card-body {
  margin-top: 15%;
    opacity: 4;
}

.btn, .index-btn {
  border: 2px solid #58AAA3;
  border-radius: 25px;
  background: #58AAA3;
  color: white;
}

.index-btn {
    font-size: 150%;
    border: 2px solid #133D56;
    border-radius: 25px;
    background: #133D56;
    color: #EFF1F0;
}


.btn:hover, .btn:focus, .btn:active {
  border: 2px solid #58AAA3;
  border-radius: 25px;
  background: #EFF1F0;
  color: #58AAA3;
}

.btn2 {
  border: 2px solid #58AAA3;
  border-radius: 25px;
  background: #133D56;
  color: #58AAA3;
  font-weight: bold;
}

.btn2:hover, .btn2:focus, .btn2:active {
  border: 2px solid #58AAA3;
  border-radius: 25px;
  background: #58AAA3;
  color: #133D56;
  font-weight: bold;
}

.header-btn-sm {
  margin-top: 3px;
}

.main-content {
  height: 80vh;
}

.main-content-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.secondary-page {
  margin: 25px;
  margin-top: 50px;
}

.page-description-text {
  color: #133D56;
  font-family: 'Montserrat', sans-serif;
  font-size: 250%;
}

.page-content-text {
  padding-top: 50px;
  color: #133D56;
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
}

.contact-form {
  padding-top: 50px;
}

.contact-form-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #133D56;
  font-size: 200%;
  text-align: center;
}

.contact-form-btn {
    padding-left: 50px;
    padding-right: 50px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Vollkorn', serif;
  font-style: italic;
    color: grey;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Vollkorn', serif;
  font-style: italic;
  color: grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
}
